 <!--start menu-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFCC00;padding-bottom:10px;padding-top:10px;">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="margin-right:20px;">
                    @Html.ActionLink("Trang chủ", "Index", "Home")
                </li>
                <li class="nav-item active" style="margin-right:20px;">
                    @Html.ActionLink("Giới thiệu", "GioiThieu", "Home")
                </li>

                <li class="nav-item active" style="margin-right:20px;">
                    @Html.ActionLink("Sản phẩm", "HienThiToanBoSanPham", "Home")
                </li>

                <li class="nav-item active" style="margin-right:20px;">
                    @Html.ActionLink("Chính sách", "Index", "Home")
                </li>
                <li class="nav-item active" style="margin-right:20px;">
                    @Html.ActionLink("Hướng dẫn", "Index", "Home")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Liên hệ", "LienHe", "Home")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
            
        </div>
    </div>
</nav>
<!--end menu-->
